body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: #ffc8ff;    
}
.loading-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    font-size: 3rem;
}
.spinner{
    height: 50px;
    width: 50px;
    border: 5px solid grey;
    border-radius: 50%;
    /* border-bottom: 0; */
    transition: 500ms;
    animation-name: divider;
    animation-duration: 900ms;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    position: relative;
}
.box{
    height: 15px;
    width: 15px;
    border: 1px solid black;
    animation-name: spinner;
    animation-duration: 100ms;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    top: -50px;
    position: absolute;
}
.box::after{
    content: 'Creative Mining';
    height: 15px;
    width: 15px;
    border: 1px solid black;
    animation-name: spinner;
    animation-duration: 100ms;
    animation-timing-function: linear;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    position: absolute;
}
.pillar{
    height: 120px;
    width: 20px;
    border: 2px solid grey;
    transition: 500ms;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
}
.stand{
    height: 20px;
    width: 70px;
    border: 2px solid grey;
}
@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes divider {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


